html {
  /* Color Palette */
  --color-primary: #0b0d12; /* Main Page Background */
  --color-secondary: #151a24; /* Background for Cards, Sections, Navigation */

  --color-text-primary: #edeff4; /* Headings / Main Text */
  --color-text-secondary: #b6bccb; /* Descriptions */
  --color-text-disabled: #7d8496; /* Tooltips or Disabled UI */

  --color-link-primary: #8fb7ff; /* Main Links */
  --color-link-secondary: #b8a9e6; /* Sub Links (less important) */
  --color-link-hover-primary: #b3d1ff;
  --color-link-hover-secondary: #d2c8ff;

  --color-border-primary: #2a3042; /* Cards / Panels */
  --color-border-secondary: #3b4a6a; /* Active States */
  --color-border-selected: #9fb8ff; /* Selected Items */

  --color-accent-primary: #a7c7ff; /* Both of these used sparingly for active nav, skill highlights, important Buttons */
  --color-accent-secondary: #9d8fe8;

  --color-success: #6fcf97;
  --color-warning: #e6c36a;
  --color-error: #c26a6a;

  --color-button-primary: #8fb7ff;
  --color-button-secondary: #2a3042;
  --color-button-primary-hover: #b3d1ff;
  --color-button-secondary-hover: #3b4a6a;
  --color-button-primary-text-hover: #f4f7ff;
  --color-button-secondary-text-hover: #dad4ff;

  --color-outline: #9fb8ff; /* Input Focus for example */
  --color-divider: rgba(143, 183, 255, 0.15); /* hr elements for example */
  --color-glow: rgba(167, 199, 255, 0.35);

  /* Font Related */
  --font-family-primary: MFW-PShueiMinPr6N-B, "Noto Serif", serif;
  --font-family-secondary: "Source Sans 3", "Inter", "Segoe UI", sans-serif;

  --font-size-text: clamp(16px, 2vw, 20px);
  --font-size-headings: clamp(28px, 5vw, 46px);

  --font-weight-regular: 500;
  --font-weight-highlight: 600;

  --letter-spacing-text: 0.02em;
  --letter-spacing-headings: 0.1em;
  --line-height-text: inherit;
  --line-height-headings: inherit;

  --page-width: 1920px;
  --padding-base: 4rem;
  --section-spacing: 5rem;
  --border-radius: 25px;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: var(--page-width);
  background-color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: clamp(24px, 5vw, 46px);
  font-weight: var(--font-weight-highlight);
  font-family: var(--font-family-primary);
  line-height: var(--line-height-headings);
  letter-spacing: var(--letter-spacing);
  color: var(--color-text-primary);
}

span,
div,
p,
a {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-primary);
  margin: 0;
  color: var(--color-text-secondary);
  letter-spacing: var(--letter-spacing-text);
  line-height: var(--line-height-text);
}

button {
  border-radius: var(--border-radius);
  padding: 0.5rem 3rem;
  width: fit-content;

  * {
    font-family: var(--font-family-secondary);
  }
}

a {
  text-decoration: none;
  font-family: var(--font-family-secondary);
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  object-fit: contain;
}

hr {
  background-color: var(--color-divider);
  color: var(--color-divider);
}

/* Utility Classes */
.container {
  padding-left: var(--padding-base);
  padding-right: var(--padding-base);
}

.section {
  padding-top: var(--section-spacing);
  padding-bottom: var(--section-spacing);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -0.1rem;
  left: 0;
  background-color: var(--color-accent-primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.description {
  color: var(--color-text-secondary);

  * {
    color: var(--color-text-secondary) !important;
  }
}

.btn-main {
  background-color: var(--color-button-primary);
}

.btn-main:hover {
  background-color: var(--color-button-primary-hover);
  color: var(--color-button-primary-text-hover);
}

.btn-sub {
  background-color: var(--color-button-secondary);
}

.btn-sub:hover {
  background-color: var(--color-button-secondary-hover);
  color: var(--color-button-secondary-text-hover);
}

.link-main {
  color: var(--color-link-primary);
}

.link-main:hover {
  color: var(--color-link-hover-primary);
}

.link-sub {
  color: var(--color-link-secondary);
}

.link-sub:hover {
  color: var(--color-link-hover-secondary);
}

.tooltip,
.disabled {
  color: var(--color-text-disabled);

  * {
    color: var(--color-text-disabled);
  }
}
