#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: var(--page-width);
  background-color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: var(--font-weight-highlight);
  font-family: var(--font-family-primary);
  line-height: var(--line-height-headings);
  letter-spacing: unset;
  color: var(--color-text-primary);
}

h2 {
  font-size: var(--font-size-h2);
  filter: drop-shadow(0 0 min(0.5208333333vw, 10px) var(--color-accent-primary)) drop-shadow(0 0 min(1.0416666667vw, 20px) var(--color-accent-primary)) drop-shadow(0 0 min(1.5625vw, 30px) var(--color-accent-primary));
}

h3 {
  font-size: var(--font-size-h3);
  filter: drop-shadow(0 0 min(0.5208333333vw, 10px) var(--color-accent-secondary)) drop-shadow(0 0 min(1.0416666667vw, 20px) var(--color-accent-secondary)) drop-shadow(0 0 min(1.5625vw, 30px) var(--color-accent-secondary));
}

span,
div,
p,
a {
  font-size: var(--font-size-text);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-primary);
  margin: 0;
  color: var(--color-text-secondary);
  letter-spacing: var(--letter-spacing-text);
  line-height: var(--line-height-text);
}

button {
  border-radius: var(--border-radius);
  padding: 0.5rem 3rem;
  width: fit-content;
}

a {
  text-decoration: none;
}

li,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  object-fit: contain;
}

hr {
  background-color: var(--color-divider);
  color: var(--color-divider);
}

/* Utility Classes */
.container {
  padding-left: var(--padding-base);
  padding-right: var(--padding-base);
}

.section {
  padding-top: var(--section-spacing);
  padding-bottom: var(--section-spacing);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:hover {
  color: var(--color-link-hover-primary);
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -0.1rem;
  left: 0;
  background-color: var(--color-accent-primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.description {
  color: var(--color-text-secondary);

  * {
    color: var(--color-text-secondary) !important;
  }
}

.btn-main {
  background-color: var(--color-button-primary);
}

.btn-main:hover {
  background-color: var(--color-button-primary-hover);
  color: var(--color-button-primary-text-hover);
}

.btn-sub {
  background-color: var(--color-button-secondary);
}

.btn-sub:hover {
  background-color: var(--color-button-secondary-hover);
  color: var(--color-button-secondary-text-hover);
}

.link-main {
  color: var(--color-link-primary);
}

.link-main:hover {
  color: var(--color-link-hover-primary);
}

.link-sub {
  color: var(--color-link-secondary);
}

.link-sub:hover {
  color: var(--color-link-hover-secondary);
}

.tooltip,
.disabled {
  color: var(--color-text-disabled);

  * {
    color: var(--color-text-disabled);
  }
}

.glow_effect-primary {
  filter: drop-shadow(0 0 min(0.5208333333vw, 10px) var(--color-accent-primary)) drop-shadow(0 0 min(1.0416666667vw, 20px) var(--color-accent-primary)) drop-shadow(0 0 min(1.5625vw, 30px) var(--color-accent-primary));
}

.glow_effect-secondary {
  filter: drop-shadow(0 0 min(0.5208333333vw, 10px) var(--color-accent-secondary)) drop-shadow(0 0 min(1.0416666667vw, 20px) var(--color-accent-secondary)) drop-shadow(0 0 min(1.5625vw, 30px) var(--color-accent-secondary));
}
