.character_cards {
  padding: 4rem 0;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .card_list {
    width: min(1400px, 100%);
    margin: 0 auto;

    .swiper-slide {
      height: auto;

      .card {
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 1rem;

        .card_content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 2rem;
          width: 100%;

          * {
            color: black;
          }

          .card_name {
            margin-bottom: 0.5rem;
            font-weight: 700;
            font-size: 21px;
            text-align: center;
          }

          .card_description {
            text-align: center;
            font-size: 12px;
          }
        }

        img {
          width: 100%;
          height: 400px;
        }
      }

      .card::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url(../assets/wallpapers/NCOW-Background-3.png) no-repeat 50% / 100% 100%;
        z-index: -1;
      }
    }
  }
}
