.character_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .card_list {
    width: 100%;
    padding-bottom: 3rem;
    padding-top: 2rem;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: url(../assets/ui/NCOW-OpenScroll-1.png) no-repeat 50% / 100% 100%;
      min-height: 800px;
      padding-top: 5rem;
      overflow: hidden;

      .card_content {
        padding: 1rem 2rem 2rem 2rem;
        flex: 1;
        width: 100%;
        max-width: 85%;
        display: flex;
        flex-direction: column;
        min-height: 0;
        gap: 1rem;

        .char_name {
          margin-top: 2rem;
          padding: 1rem 0;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;

          span {
            font-size: 18px;
            font-weight: 700;
            z-index: 2;
            position: relative;
            color: black;
            letter-spacing: -0.07em;
          }
        }

        .char_name::before {
          background: url(../assets/ui/NCOW-AccentBackground-1.png) no-repeat 50% / 100% 100%;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          z-index: -1;
        }

        .char_description {
          padding: 1rem 0 0;
          text-align: left;
          flex: 1 1 auto;
          min-height: 0;
          overflow: hidden;
        }

        button {
          margin-top: auto;
          position: relative;
          border: none;
          background-color: transparent;
          padding: 1rem 0;
          position: relative;

          a {
            position: absolute;
            width: 100%;
            height: 100%;
            inset: 0;
          }

          span {
            color: var(--color-text-primary);
            font-weight: 700;
            text-shadow:
              0 0 min(0.5208333333vw, 10px) rgba(0, 0, 0, 0.5),
              0 0 min(0.2604166667vw, 5px) #000;
          }
        }

        button:hover::before {
          filter: invert(100%) sepia(60%) saturate(100%) hue-rotate(40deg) brightness(110%) contrast(155%);
        }

        button::before {
          background: url(../assets/ui/NCOW-Button-2.png) no-repeat 50% / 100% 100%;
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          inset: 0;
          z-index: -1;
          filter: invert(100%) sepia(60%) saturate(100%) hue-rotate(40deg) brightness(100%) contrast(155%);
          transition: filter 400ms ease;
        }

        img {
          width: 100%;
          height: auto;
          margin: 0 auto;
        }

        * {
          color: black;
          width: 100%;
        }
      }
    }
  }
}
