.character_cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;

  .char_wrapper {
    display: flex;
    gap: 5rem;

    > * {
      width: 50%;
    }

    .char_content {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 2rem;

      * {
        color: black;
      }

      .char_name {
        font-size: var(--font-size-h2);
        filter: drop-shadow(0 0 min(0.5208333333vw, 10px) var(--color-accent-primary)) drop-shadow(0 0 min(1.0416666667vw, 20px) var(--color-accent-primary)) drop-shadow(0 0 min(1.5625vw, 30px) var(--color-accent-primary));
        font-weight: 700;
        color: var(--color-text-primary);
      }

      .char_title {
        font-size: var(--font-size-h3);
        filter: drop-shadow(0 0 min(0.5208333333vw, 10px) var(--color-accent-secondary)) drop-shadow(0 0 min(1.0416666667vw, 20px) var(--color-accent-secondary)) drop-shadow(0 0 min(1.5625vw, 30px) var(--color-accent-secondary));
        font-weight: 500;
        padding-bottom: 2rem;
        color: var(--color-text-primary);
      }

      .char_description {
        padding-bottom: 2rem;
      }

      .char_images {
        width: 350px;
        height: 200px;
        position: relative;
        margin-bottom: 2rem;

        .char_image {
          img {
            width: 100%;
            height: 100%;
          }
        }

        .swiper {
          display: flex;
          flex-wrap: wrap;
          position: relative;
          align-items: center;
        }

        .swiper-button-next,
        .swiper-button-prev {
          display: flex;
        }

        .swiper-button-next {
          order: 3;
          margin-right: auto;
        }

        .swiper-button-prev {
          transform: rotate(180deg);
          order: 1;
          margin-left: auto;
        }

        .swiper-pagination {
          display: flex;
          gap: 0.5rem;
          width: fit-content;
          justify-content: center;
          order: 2;
          padding: 0 1rem;

          .swiper-pagination-bullet {
            position: relative;
            width: 32px;
            height: 32px;
            display: block;
            border: none;
          }

          .swiper-pagination-bullet::before {
            position: relative;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            background: url(../assets/ui/NCOW-SliderIcon-1.png) no-repeat 50% / 100% 100%;
          }
        }
      }

      button {
        width: 350px;
        position: relative;
        border: none;
        background-color: transparent;
        padding: 2.5rem 0;
      }

      button::before {
        background: url(../assets/ui/NCOW-Border-2.png) no-repeat 50% / 100% 80%;
        content: "";
        width: auto;
        height: 100%;
        position: absolute;
        inset: 0;
      }
    }

    .char_main_image {
      display: flex;
      align-items: center;

      img {
        width: 500px;
        height: auto;
      }
    }
  }
}

.character_cards::before {
  background: url(../assets/ui/NCOW-Background-2.png) no-repeat 50% / 100% 100%;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.char_list {
  position: relative;

  .swiper {
    padding: 0 20rem;
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 10rem;

    .swiper-button-next,
    .swiper-button-prev {
      display: flex;
    }

    .swiper-button-next {
      order: 3;
      margin-right: auto;
    }

    .swiper-button-prev {
      transform: rotate(180deg);
      order: 1;
      margin-left: auto;
    }
  }

  .swiper-wrapper {
    align-items: center;
    justify-content: center;
    order: 2;
    width: fit-content;
    padding: 0 1rem;
  }

  .swiper-slide {
    width: auto !important;
  }

  .char_icon_button {
    background-color: transparent;
    border: none;
    padding: 0;

    img {
      width: 60px;
      height: 60px;
    }
  }
}

.char_list::before {
  background: url(../assets/ui/NCOW-Banner-6.png) no-repeat 50% / 100% 100%;
  content: "";
  width: auto;
  height: 100%;
  position: absolute;
  inset: 0;
}
