/* .footer::before {
  inset: -0.2rem;
  position: absolute;
  content: "";
  background: url(../assets/wallpapers/NCOW-BackgroundBrush-2.png) no-repeat 50% / 200% 120%;
  z-index: 0;
}
 */
.footer {
  background-color: black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 2px solid var(--color-border-primary);
  position: relative;

  .footer_nav {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;

    a {
      font-size: 12px;
    }

    * {
      color: var(--color-text-secondary);
    }

    > * {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .logo {
      z-index: 1;

      img {
        width: 125px;
        height: auto;
      }
    }

    .footer_links {
      z-index: 1;
      > * {
        text-transform: uppercase;
        font-weight: var(--font-weight-highlight);
      }
    }

    .footer_copyright {
      z-index: 1;
      flex-direction: column;
      gap: 0;

      > * {
        font-size: 10px;
        text-transform: uppercase;
      }
    }
  }
}
