.footer {
  background-color: var(--color-primary);
  padding-top: 2rem;
  padding-bottom: 2rem;

  .footer_nav {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    a {
      font-size: 12px;
    }

    > * {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .footer_links {
      > * {
        text-transform: uppercase;
        font-weight: var(--font-weight-highlight);
      }
    }

    .footer_copyright {
      flex-direction: column;
      gap: 0;

      > * {
        font-size: 10px;
        text-transform: uppercase;
      }
    }
  }
}
