.footer {
  background-color: var(--color-primary);
  padding-top: 2rem;
  padding-bottom: 2rem;

  .footer_nav {
    display: flex;
    gap: 1rem;
    flex-direction: column;

    a {
      font-size: 12px;
    }

    * {
      color: var(--color-text-secondary);
    }

    > * {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    .footer_links {
      > * {
        text-transform: uppercase;
        font-weight: var(--font-weight-highlight);
      }
    }

    .social_links {
      li {
        width: 25px !important;
        height: 25px !important;
        position: relative;

        a {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
        }
      }

      li.icon-youtube {
        width: 32px !important;
        height: 32px !important;
      }
    }

    .footer_copyright {
      flex-direction: column;
      gap: 0;

      > * {
        font-size: 10px;
        text-transform: uppercase;
      }
    }
  }
}
