.gameplay_features {
  position: relative;
  background-color: var(--color-secondary);
  padding: 6rem 0;

  .wrapper {
    padding: 0rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .feature {
      position: relative;
      padding: 1rem 3rem 6rem 3rem;
      z-index: 1;

      h2 {
        color: black;
      }

      .text {
        padding-bottom: 3rem;

        > * {
          color: black;
        }
      }

      .images {
        width: 100%;
        overflow: hidden;

        .swiper {
          width: 100%;
          overflow: visible;
        }

        .swiper-slide {
          height: auto;
        }

        img {
          width: 100%;
          height: 320px;
          display: block;
          object-fit: cover;
        }

        @media screen and (max-width: 768px) {
          img {
            height: 220px;
          }
        }
      }
    }
  }

  .feature.alignment-right {
    .title,
    .text {
      text-align: end;
    }
  }

  .feature.alignment-left::before {
    background: url(../assets/wallpapers/NCOW-BackgroundBrush.png) no-repeat 50% / 130% 100%;
    filter: invert(100%);
    transform: rotate(5deg);
    z-index: -1;
  }

  .feature.alignment-right::before {
    background: url(../assets/wallpapers/NCOW-BackgroundBrush.png) no-repeat 50% / 130% 100%;
    filter: invert(100%);
    transform: rotate(-5deg);
    z-index: -1;
  }
}
