.gameplay_features {
  position: relative;
  background-color: var(--color-secondary);
  padding: 2rem 0 4rem 0;

  @media screen and (max-width: 768px) {
    padding: 0;
  }

  .wrapper {
    padding: 0rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 0rem;

    .feature {
      position: relative;
      padding: 1rem 5rem 6rem 5rem;
      z-index: 1;

      @media screen and (max-width: 768px) {
        padding: 1rem 2rem 2rem 2rem;
        background-color: white;
      }

      h2 {
        color: black;

        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }

      .text {
        padding: 3rem 0;

        @media screen and (max-width: 768px) {
          padding: 1rem 0;
        }

        > * {
          color: black;
          padding-bottom: 1.5rem;
        }
      }

      .images {
        width: 100%;
        overflow: hidden;
        padding-bottom: 2rem;

        .swiper {
          width: 100%;
          overflow: visible;
        }

        .swiper-slide {
          height: auto;
        }

        .image {
          aspect-ratio: 3/2;

          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
          }
        }

        @media screen and (max-width: 768px) {
          img {
            height: 220px;
          }
        }
      }
    }
  }

  .feature.alignment-right {
    .title {
      text-align: end;

      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
  }

  .feature.alignment-left::before {
    background: url(../assets/wallpapers/NCOW-BackgroundBrush.png) no-repeat 50% / 130% 100%;
    filter: invert(100%);
    transform: rotate(5deg);
    z-index: -1;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .feature.alignment-right::before {
    background: url(../assets/wallpapers/NCOW-BackgroundBrush.png) no-repeat 50% / 130% 100%;
    filter: invert(100%);
    transform: rotate(-5deg);
    z-index: -1;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
