.header {
  display: flex;
  gap: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: var(--color-primary);

  .logo {
    position: relative;
    display: flex;

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;

    ul {
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
}
