.hero_banner {
  height: 900px;
  width: auto;
  position: relative;

  @media screen and (max-width: 768px) {
    height: 500px;
  }

  .social_sidebar {
    position: absolute;
    left: 2rem;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 768px) {
      bottom: 1rem;
      left: 50%;
      top: unset;
      flex-direction: row;
      transform: translateX(-50%);
      display: flex;
      width: 100%;
      padding: 0 var(--padding-base-mobile);
      justify-content: center;
      gap: 2rem;
    }

    span {
      writing-mode: vertical-rl;
      font-size: 16px;
      margin-bottom: 1rem;
      text-shadow:
        1px 1px 10px var(--color-accent-primary),
        1px 1px 10px var(--color-accent-primary);

      @media screen and (max-width: 768px) {
        writing-mode: unset;
      }
    }

    ul {
      @media screen and (max-width: 768px) {
        flex-direction: row;
      }
    }
  }

  > span {
    text-shadow:
      0 0 0.2083333333vw var(--color-accent-primary),
      0 0 0.2083333333vw var(--color-accent-primary),
      0 0 0.2604166667vw var(--color-accent-primary);
    font-size: 46px;
    display: flex;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    padding: 1rem;

    @media screen and (max-width: 768px) {
      width: 100%;
      justify-content: center;
      padding: 0 2rem;
    }
  }

  > span::before {
    content: "";
    position: absolute;
    inset: -0.01em -0.2em;
    filter: blur(28px);
    z-index: -1;
    border-radius: 999px;
    background: url(../assets/ui/NCOW-AccentBackground-2.png) no-repeat 50% / auto 100%;
  }

  > img {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;

    @media screen and (max-width: 768px) {
      width: 200px;
    }
  }
}

.hero_banner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../assets/wallpapers/NCOW-Wallpaper-4.png) no-repeat 50% / 100% 100%;
  filter: blur(2px);
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
