.hero_banner {
  height: 800px;
  width: auto;
  position: relative;
  z-index: -1;

  span {
    text-shadow:
      0 0 0.2083333333vw var(--color-text-primary),
      0 0 0.2083333333vw var(--color-text-primary),
      0 0 0.2604166667vw var(--color-text-primary);
    font-size: 46px;
    display: flex;
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    padding: 1rem;
  }

  span::before {
    content: "";
    position: absolute;
    inset: -0.01em -0.2em;
    background: var(--color-text-secondary);
    filter: blur(18px);
    z-index: -1;
    border-radius: 999px;
  }

  img {
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
  }
}

.hero_banner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../assets/wallpapers/NCOW-Wallpaper-4.png) no-repeat 50% / auto 100%;
  filter: blur(2px);
  width: 100%;
  height: 100%;
  z-index: -1;
}
