.intro_banner::before {
  background: url(../assets/wallpapers/NCOW-Background-3_2.png) no-repeat 50% / 100% 100%;
  content: "";
  position: absolute;
  inset: 0;
}

h2 {
  padding-bottom: 5rem;
  z-index: 2;
  position: relative;
  text-align: center;
  color: black;
}

.intro_banner {
  margin: -2rem 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;

  .intro_inner_wrap {
    display: flex;
    gap: 10rem;
    justify-content: center;
    flex-direction: column;

    > * {
      width: 100%;
    }

    .text_container {
      display: flex;
      position: relative;
      flex-direction: column;

      h3 {
        position: relative;
        padding: 0.5rem 3rem 1rem 3rem;
        margin-bottom: 2rem;
        width: fit-content;
        z-index: 0;
        min-width: 20rem;
      }

      .intro_text {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5rem;
        z-index: 2;
        position: relative;
        width: 100%;

        img {
          width: 50%;
          height: auto;
        }

        p {
          /* filter: drop-shadow(0 0 min(0.2604166667vw, 5px) white) drop-shadow(0 0 min(0.5208333333vw, 300px) white) drop-shadow(0 0 min(0.78125vw, 100px) white) drop-shadow(0 0 min(1.0416666667vw, 100px) white); */
          color: var(--color-text-tetriary);
          font-weight: 700;
          line-height: 2.5;
          letter-spacing: min(0.01rem, 1px);
          font-size: min(1.2em, 30px);
          width: 50%;
        }
      }
    }

    .text_container.align-left {
      justify-content: left;

      h3::before {
        inset: 0;
        content: "";
        position: absolute;
        background: url(../assets/ui/NCOW-BrushStroke-3.png) no-repeat 50% / 100% 100%;
        z-index: -1;
      }

      .intro_text {
        align-items: flex-start;
      }
    }
    .text_container.align-center {
      justify-content: center;

      h3::before {
        inset: 0;
        content: "";
        position: absolute;
        background: url(../assets/ui/NCOW-BrushStroke-3.png) no-repeat 50% / 100% 100%;
        z-index: -1;
      }

      .intro_text {
        align-items: center;
      }
    }
    .text_container.align-right {
      justify-content: end;

      h3::before {
        inset: 0;
        content: "";
        position: absolute;
        background: url(../assets/ui/NCOW-BrushStroke-3-2.png) no-repeat 50% / 100% 100%;
        z-index: -1;
      }

      .intro_text {
        align-items: flex-end;
      }
    }
  }
}
