.intro_banner::before {
  background: url(../assets/wallpapers/NCOW-Background-3_3.png) no-repeat 50% / 105% 100%;
  content: "";
  position: absolute;
  inset: 0;
}

.intro_banner {
  margin: -2rem 0;
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;

  .intro_banner_heading {
    position: relative;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 1000px) {
      margin-bottom: 3rem;
    }

    > h2 {
      padding: 1rem 0;
      position: relative;
      text-align: center;
      max-width: 85%;
      color: var(--color-text-primary);
      font-size: clamp(30px, 4vw, 65px);
    }
  }

  .intro_banner_heading::before {
    background: url(../assets/ui/NCOW-BrushStroke-1.png) no-repeat 50% / 100% 100%;
    position: absolute;
    inset: 0;
    content: "";
  }

  .intro_inner_wrap {
    display: flex;
    gap: 15rem;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 1000px) {
      gap: 5rem;
    }

    > * {
      width: 100%;
    }

    .text_container {
      display: flex;
      position: relative;
      flex-direction: column;

      h3 {
        position: absolute;
        padding: 0.5rem 3rem 1rem 3rem;
        margin-bottom: 2rem;
        width: fit-content;
        z-index: 0;
        min-width: 20rem;
        top: -5rem;
      }

      .intro_text {
        display: flex;
        flex-direction: row;
        gap: 5rem;
        z-index: 2;
        position: relative;
        width: 100%;

        @media screen and (max-width: 1000px) {
          flex-direction: column;
          gap: 0;
        }

        div {
          width: 50%;
          aspect-ratio: 1/1;

          @media screen and (max-width: 1000px) {
            width: 100%;
            aspect-ratio: unset;
          }

          img {
            width: 100%;
            height: 100%;

            object-fit: cover;
            border: 8px solid black;
          }
        }

        .text_container {
          width: 50%;
          display: flex;
          flex-direction: column;

          @media screen and (max-width: 1000px) {
            width: 100%;
            order: 2;
            padding-top: 2rem;
          }

          p {
            color: var(--color-text-tetriary);
            font-weight: 700;
            line-height: 2.5;
            letter-spacing: min(0.01rem, 1px);
            font-size: min(1.2em, 30px);
            text-shadow:
              0 0 4px var(--color-text-primary),
              0 0 14px var(--color-text-primary);
            padding-bottom: 1rem;
          }

          p + p {
            margin-top: 1rem;
          }
        }
      }
    }

    .text_container.align-left {
      justify-content: left;

      h3::before {
        inset: 0;
        content: "";
        position: absolute;
        background: url(../assets/ui/NCOW-BrushStroke-3.png) no-repeat 50% / 100% 100%;
        z-index: -1;
      }

      .intro_text {
        .text_container {
          align-items: flex-start;
        }
      }
    }
    .text_container.align-center {
      justify-content: center;

      h3::before {
        inset: 0;
        content: "";
        position: absolute;
        background: url(../assets/ui/NCOW-BrushStroke-3.png) no-repeat 50% / 100% 100%;
        z-index: -1;
      }

      .intro_text {
        .text_container {
          align-items: center;
        }
      }
    }
    .text_container.align-right {
      justify-content: end;

      h3::before {
        inset: 0;
        content: "";
        position: absolute;
        background: url(../assets/ui/NCOW-BrushStroke-3_2.png) no-repeat 50% / 100% 100%;
        z-index: -1;
      }

      .intro_text {
        .text_container {
          align-items: flex-end;
          order: 2;

          h3 {
            text-align: end;
          }
        }
      }
    }
  }

  > button {
    position: relative;
    min-width: 20rem;
    margin: 5rem auto 0 auto;
    background-color: transparent;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    transition: filter 300ms ease;

    span {
      color: var(--color-text-primary);
      font-size: clamp(24px, 5vw, 36px);
      width: 100%;
      height: 100%;
      position: relative;
      display: block;
    }

    a {
      width: 100%;
      height: 100%;
      position: absolute;
      inset: 0;
    }
  }

  > button::before {
    background: url(../assets/ui/NCOW-BrushStroke-1.png) repeat 50% / 105% 100%;
    position: absolute;
    inset: 0;
    content: "";
  }

  > button:hover {
    filter: invert(100%);
  }
}
