.intro_banner::before {
  background: url(../assets/wallpapers/NCOW-Background-3_2.png) no-repeat 50% / 100% 100%;
  content: "";
  position: absolute;
  inset: 0;
  --filter: blur(1px);
}

.intro_banner {
  margin: -2rem 0;
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;

  .intro_inner_wrap {
    display: flex;
    gap: 10rem;
    justify-content: center;
    flex-direction: column;

    > * {
      width: 100%;
    }

    .text_container:first-child {
      img {
        order: 2;
      }

      button::before {
        background: url(../assets/ui/NCOW-BrushStroke-3.png) no-repeat 50% / 100% 100%;
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        transition: filter 320ms ease;
      }
    }

    .text_container:last-child {
      justify-content: end;

      .intro_text {
        order: 2;
      }

      button::before {
        background: url(../assets/ui/NCOW-BrushStroke-3_2.png) no-repeat 50% / 100% 100%;
        content: "";
        position: absolute;
        inset: 0;
        z-index: 0;
        transition: filter 320ms ease;
      }
    }

    .text_container {
      display: flex;
      position: relative;
      gap: 5rem;

      > img {
        --position: absolute;
        --top: 50%;
        --transform: translateY(-50%);
        width: 400px;
        height: auto;
      }

      .intro_text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        z-index: 2;
        position: relative;
        width: 60%;

        button {
          border: none;
          padding: 1rem 6rem 2rem 6rem;
          width: 100%;
          max-width: 30rem;
          position: relative;
          overflow: hidden;
          border-radius: 0;
          transition: transform 620ms ease;
          background-color: transparent;
          display: flex;
          gap: 1rem;
          align-items: center;
          justify-content: center;

          a {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            z-index: 2;
          }

          > span {
            text-wrap: nowrap;
            position: relative;
            display: inline-block;
            font-size: 16px;
          }

          img {
            width: 50px;
            height: auto;
            transition: transform 300ms ease;
            z-index: 1;
          }

          > div {
            background: url(../assets/ui/NCOW-Kunai-3.png) no-repeat 50% / 100% 50%;
            width: 100%;
            height: 100%;
            max-width: 50px;
            transition: transform 300ms ease;
            z-index: 1;
          }
        }

        button:hover {
          > img {
            transform: translateX(1rem);
          }

          > span {
            color: black;
          }

          > div {
            filter: invert(100%);
            transform: translateX(1rem);
          }
        }

        button:hover::before {
          filter: invert(100%);
        }
      }
    }
  }

  h2 {
    padding-bottom: 5rem;
    z-index: 2;
    position: relative;
    text-align: center;
    color: black;
  }

  p {
    /* filter: drop-shadow(0 0 min(0.2604166667vw, 5px) white) drop-shadow(0 0 min(0.5208333333vw, 300px) white) drop-shadow(0 0 min(0.78125vw, 100px) white) drop-shadow(0 0 min(1.0416666667vw, 100px) white); */
    color: var(--color-text-tetriary);
    font-weight: 700;
    line-height: 2.5;
    letter-spacing: min(0.01rem, 1px);
    font-size: min(1.2em, 30px);
  }
}
