.item_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 3rem;
  gap: 1.2rem;
  position: relative;

  .item_intro_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;

    .item_name {
      color: var(--color-text-primary);
      text-shadow:
        0 0 8px var(--color-accent-primary),
        0 0 18px var(--color-accent-primary);
    }

    .item_type {
      color: var(--color-text-primary);
      text-shadow:
        0 0 8px var(--color-accent-secondary),
        0 0 18px var(--color-accent-secondary);
    }
  }

  .item_icon_wrap {
    width: 88px;
    height: 88px;
    display: grid;
    place-items: center;

    .item_icon {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 2px solid var(--color-border-primary);
    }
  }

  .item_description {
    max-width: 900px;

    p {
      color: var(--color-text-tetriary);
    }
  }

  .item_stats {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    p {
      color: var(--color-text-tetriary);
    }

    span {
      color: var(--color-text-tetriary);
      font-weight: 700;
    }
  }

  .item_recipes {
    width: min(100%, 950px);
    min-height: 1px;
    padding-top: 2rem;

    h4 {
      color: var(--color-text-tetriary);
      font-size: clamp(30px, 5vw, 42px);
      margin-bottom: 1rem;
    }

    .item_recipe_list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .item_recipe_card {
      position: relative;
      padding: 2rem 4rem 3rem 4rem;
      text-align: left;

      .recipe_result {
        color: var(--color-text-tetriary);
        font-weight: 700;
        margin-bottom: 0.8rem;
        font-size: clamp(18px, 4vw, 21px);
      }

      .recipe_components {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .recipe_component {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        img {
          width: 36px;
          height: 36px;
          border: 1px solid var(--color-border-primary);
        }

        span {
          color: var(--color-text-tetriary);
        }
      }
    }

    .item_recipe_card::before {
      background: url(../assets/ui/NCOW-BrushStroke-3.png) no-repeat 50% / 100% 100%;
      filter: invert(100%);
    }
  }
}

.item_intro::before {
  background: url(../assets/wallpapers/NCOW-Wallpaper-6.png) no-repeat 50% / 100% 100%;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  filter: blur(2px);
}

.item_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  padding: 1rem 0 1.2rem 0;
  border-top: 3px solid var(--color-border-primary);

  .tabs {
    width: 100%;
    padding: 0 1rem;

    .swiper {
      width: 100%;
      overflow: visible;
    }

    .tab_button {
      width: 100%;
      min-height: 58px;
      position: relative;
      padding: 0.8rem 1.2rem;

      span {
        color: var(--color-text-tetriary);
        font-weight: 700;
        line-height: 1.2;
      }
    }

    .tab_button::before {
      background: url(../assets/ui/NCOW-BrushStroke-2.png) no-repeat 50% / 100% 100%;
      filter: invert(100%);
      transition:
        filter 300ms ease,
        transform 300ms ease;
    }

    .tab_button:hover {
      cursor: pointer;
    }

    .tab_button:hover::before,
    .tab_button.is-active::before {
      filter: invert(50%);
      transform: scale(1.03);
    }

    .tab_button.is-active span,
    .tab_button:hover span {
      color: var(--color-text-primary);
    }
  }

  .list {
    width: 100%;
    border-top: 3px solid var(--color-border-primary);
    padding: 1rem 1rem 0 1rem;

    > div {
      width: 50%;
      margin: auto;
      overflow: hidden;
    }

    .swiper {
      width: 100%;
      overflow: visible;
    }

    .item_icon_button {
      width: 100%;
      height: 74px;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
      width: fit-content;

      img {
        width: 64px;
        height: 64px;
        border: 1px solid var(--color-border-primary);
      }
    }

    .item_icon_button.is-active {
      border-color: var(--color-accent-primary);
    }
  }
}

.item_list::before {
  background: url(../assets/ui/NCOW-AccentBackground-1.png) no-repeat 50% / 108% 100%;
  position: absolute;
  inset: 0;
  pointer-events: none;
  filter: invert(100%) saturate(100%) brightness(50%) contrast(100%);
}
