.page_banner {
  position: relative;
  border-bottom: 2px solid var(--color-border-primary);
  margin-bottom: 5rem;

  .image {
    height: 300px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: blur(3px);
    }
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
    }
  }
}
