.quick_banner {
  position: relative;
  overflow: visible;
  z-index: 1;

  .quick_banner_wrapper {
    position: relative;
    padding-bottom: 3rem;
    padding-top: 3rem;
    pointer-events: none;

    * {
      pointer-events: auto;
    }
  }

  .quick_banner_wrapper::before {
    background: url(../assets/ui/NCOW-Button-2.png) no-repeat 100% / 100% 100%;
    content: "";
    position: absolute;
    width: 120%;
    height: 100%;
    left: -6rem;
    top: 0;
    filter: invert(30%) sepia(50%) saturate(300%) hue-rotate(20deg) brightness(100%) contrast(125%);
  }

  .quick_banner_content {
    margin: auto 15%;
    display: flex;
    flex-direction: row;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      z-index: 1;
    }

    > * {
      text-align: center;
    }

    .quick_banner_subheading {
      background: url(../assets/ui/NCOW-Banner-1.png) no-repeat 50% / 100% 100%;
      padding: 1rem 2rem 2rem 2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        max-width: 80%;
        color: black;
        font-size: 16px;
      }
    }

    .quick_banner_text {
      position: relative;

      img {
        width: 50px;
        height: auto;
        position: absolute;
        right: -5rem;
        top: 60%;
        transform: translateY(-50%);
        transition: transform 300ms ease;
      }
    }
  }

  .quick_banner_content:hover {
    .quick_banner_text img {
      transform: translateX(2rem) translateY(-50%);
    }
  }
}

.quick_banner::before,
.quick_banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 60px;
  background: url(../assets/ui/NCOW-CloudSeperator.png) no-repeat 50% / 100% 100%;
  left: 0;
  z-index: 2;
}

.quick_banner::before {
  top: -2rem;
}

.quick_banner::after {
  bottom: -2rem;
}
