.quick_banner {
  position: relative;
  overflow: visible;
  z-index: 2;
  /*   border-top: 2px solid var(--color-border-primary);
  border-bottom: 2px solid var(--color-border-primary); */

  .quick_banner_wrapper {
    position: relative;
    padding-bottom: 1rem;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    max-height: 12rem;

    > img {
      --size: 240px;
      width: var(--size);
      height: var(--size);
      position: relative;
      bottom: 2rem;
      z-index: 1;
    }

    * {
      pointer-events: auto;
    }
  }

  .quick_banner_wrapper:hover {
    .quick_banner_text img {
      transform: translateX(1rem) translateY(-50%);
    }

    .quick_banner_content {
      h3,
      span {
        color: black;
        text-shadow: none;
        filter: none;
      }

      .quick_banner_subheading {
        filter: unset;

        span {
          color: white;
        }
      }
    }
  }

  .quick_banner_wrapper:hover::before {
    filter: invert(100%);
  }

  .quick_banner_wrapper::before {
    background: url(../assets/wallpapers/NCOW-BackgroundBrush.png) no-repeat 50% / 110% 100%;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: -0.3rem;
    z-index: 0;
    pointer-events: none;
    transition: filter 300ms ease;
  }

  .quick_banner_content {
    display: flex;
    flex-direction: row;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    h3 {
      padding-bottom: 0.5rem;
    }

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      z-index: 1;
    }

    > * {
      text-align: center;
    }

    .quick_banner_subheading {
      background: url(../assets/ui/NCOW-BrushStroke-1.png) no-repeat 50% / 100% 100%;
      padding: 0.5rem 1rem 0.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      filter: invert(100%);

      span {
        max-width: 80%;
        font-size: 14px;
        padding: 0 2rem;
      }
    }

    .quick_banner_text {
      position: relative;

      span {
        font-size: 16px;
      }

      img {
        width: 50px;
        height: auto;
        position: absolute;
        right: -5rem;
        top: 60%;
        transform: translateY(-50%);
        transition: transform 300ms ease;
      }
    }
  }
}
