.quick_banner {
  position: relative;
  overflow: visible;
  z-index: 1;
  border-top: 2px solid var(--color-border-primary);
  border-bottom: 2px solid var(--color-border-primary);

  .quick_banner_wrapper {
    position: relative;
    padding-bottom: 1rem;
    padding-top: 1rem;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    max-height: 12rem;

    > img {
      width: 350px;
      height: 350px;
      position: relative;
      bottom: 3.5rem;
      z-index: 1;
    }

    * {
      pointer-events: auto;
    }
  }

  .quick_banner_wrapper:hover {
    ::before {
      filter: invert(30%) sepia(50%) saturate(300%) hue-rotate(20deg) brightness(150%) contrast(125%);
    }

    .quick_banner_text img {
      transform: translateX(1rem) translateY(-50%);
    }
  }

  .quick_banner_wrapper:hover::before {
    filter: invert(0%) sepia(100%) saturate(800%) hue-rotate(750deg) brightness(90%) contrast(150%);
  }

  .quick_banner_wrapper::before {
    background: url(../assets/ui/NCOW-Banner-6.png) no-repeat 50% / 100% 100%;
    content: "";
    position: absolute;
    width: 120%;
    height: 100%;
    left: -9rem;
    top: 0;
    filter: invert(0%) sepia(100%) saturate(800%) hue-rotate(750deg) brightness(70%) contrast(150%);
    transition: filter 300ms ease;
  }

  .quick_banner_content {
    display: flex;
    flex-direction: row;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    h3 {
      padding-bottom: 0.5rem;
    }

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      z-index: 1;
    }

    > * {
      text-align: center;
    }

    .quick_banner_subheading {
      background: url(../assets/ui/NCOW-Banner-4.png) no-repeat 50% / 100% 100%;
      padding: 0.5rem 1rem 0.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        max-width: 80%;
        color: black;
        font-size: 14px;
      }
    }

    .quick_banner_text {
      position: relative;

      span {
        font-size: 16px;
      }

      img {
        width: 50px;
        height: auto;
        position: absolute;
        right: -5rem;
        top: 60%;
        transform: translateY(-50%);
        transition: transform 300ms ease;
      }
    }
  }
}

/* .quick_banner::before,
.quick_banner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 60px;
  background: url(../assets/ui/NCOW-CloudSeperator.png) no-repeat 50% / 100% 100%;
  left: 0;
  z-index: 2;
}

.quick_banner::before {
  top: -2rem;
}

.quick_banner::after {
  bottom: -2rem;
}
 */
