.social_links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.1rem;

  li {
    display: flex;
    position: relative;

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      z-index: 300;
    }
  }

  img {
    width: 25px;
    height: 25px;
  }
}
