.social_links {
  display: flex;
  flex-wrap: wrap;
  gap: 1.1rem;

  > li > img {
    filter: drop-shadow(0px 0px 6px var(--color-accent-primary)) invert(0%) contrast(100%);
    transition:
      filter 0.5s ease,
      transform 0.5s ease;
  }

  > li:hover img {
    filter: drop-shadow(0px 0px 12px var(--color-accent-primary)) invert(100%) contrast(130%);
    transform: scale(130%);
  }

  li {
    display: flex;
    position: relative;

    a {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      z-index: 300;
    }
  }

  img {
    width: 25px;
    height: 25px;
  }
}
