@font-face {
  font-family: "Heaters";
  src: url("../fonts/Heaters.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Reggae One";
  src: url("/fonts/ReggaeOne.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  /* Color Palette */
  --color-primary: #212324; /* Main Page Background */
  --color-secondary: black; /* Background for Cards, Sections, Navigation */

  --color-text-primary: #e9e9e9; /* Headings (h1,h2,h3 etc...)  */
  --color-text-secondary: #e9e9e9; /* Descriptions */
  --color-text-tetriary: #031a1f; /* Special Text / All headings that are not h1 or h2 */
  --color-text-disabled: #7d8496; /* Tooltips or Disabled UI */

  --color-link-primary: #8fb7ff; /* Main Links */
  --color-link-secondary: #b8a9e6; /* Sub Links (less important) */
  --color-link-hover-primary: #b3d1ff;
  --color-link-hover-secondary: #d2c8ff;

  --color-border-primary: #d0af76; /* Cards / Panels */
  --color-border-secondary: #3b4a6a; /* Active States */
  --color-border-selected: #9fb8ff; /* Selected Items */

  --color-accent-primary: #a07a39; /* Both of these used sparingly for active nav, skill highlights, important Buttons */
  --color-accent-secondary: #195bd4;

  --color-success: #6fcf97;
  --color-warning: #e6c36a;
  --color-error: #c26a6a;

  --color-button-primary: #8fb7ff;
  --color-button-secondary: #2a3042;
  --color-button-primary-hover: #b3d1ff;
  --color-button-secondary-hover: #3b4a6a;
  --color-button-primary-text-hover: #f4f7ff;
  --color-button-secondary-text-hover: #dad4ff;

  --color-outline: #9fb8ff; /* Input Focus for example */
  --color-divider: rgba(143, 183, 255, 0.15); /* hr elements for example */
  --color-glow: rgba(167, 199, 255, 0.35);

  /* Font Related */
  --font-family-primary: "Heaters", serif; /* Headings */
  --font-family-secondary: "Reggae One", cursive; /* Body */

  --font-size-text: min(14px, 16px);
  --font-size-h1: min(14.6458333333vw, 70px);
  --font-size-h2: min(11.6458333333vw, 65px);
  --font-size-h3: min(8.6041666667vw, 50px);

  --font-weight-regular: 400;
  --font-weight-highlight: 700;

  --letter-spacing-text: 0.05em;
  --letter-spacing-headings: 0.05em;
  --line-height-text: inherit;
  --line-height-headings: inherit;

  --page-width: 1920px;
  --padding-base: 5rem;
  --padding-base-mobile: 1rem;
  --section-spacing: 5rem;
  --border-radius: 25px;

  /* Animation related */
  --page-banner-anim-duration: 950ms;
}
